{% extends 'base_admin.html' %}

{% block content %}
<style>
    .form-container {
        max-width: 500px;
        margin: 0 auto;
        border: 1px solid #ccc;
        padding: 20px;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    }
    label {
        font-weight: bold;
    }
    input[type="text"],
    input[type="file"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    input[type="submit"] {
        background-color: #43A047; /* Green Color */
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 4px;
    }

    .back-link {
        display: block;
        margin-top: 10px;
    }

    .btn {
        margin-bottom: 10px;
    }
</style>
<div class="container form-container">
    <h1>Add Category</h1>
    <form method="post" action="{{ url_for('add_category') }}" enctype="multipart/form-data">

        <label for="category_name">Category Name:</label>
        <input type="text" id="category_name" name="category_name" required><br>

        <label for="image">Category Image:</label>
        <input type="file" id="image" name="image"><br>

        <input class="back-link" type="submit" value="Add Category">
    </form>
    <a class="back-link" href="{{ url_for('get_categories') }}">Back to Categories</a>
</div>    
{% endblock %}
